  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a,
  abbr,
  acronym,
  address,
  article,
  aside,
  audio,
  blockquote,
  body,
  canvas,
  cite,
  code,
  dd,
  div,
  dl,
  dt,
  em,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  iframe,
  img,
  input,
  label,
  li,
  mark,
  nav,
  ol,
  pre,
  q,
  section,
  span,
  strong,
  sub,
  sup,
  table,
  tbody,
  td,
  textarea,
  tfoot,
  th,
  thead,
  time,
  tr,
  ul,
  video {
    margin: 0;
    padding: 0;
  }

  html {
    color: '#55565A';
    font-size: 10px;
    font-family: sans-serif;
    text-size-adjust: 100%;
  }

  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: '#55565A';
  }

  @font-face {
    font-family: 'Merriweather', 'serif';
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.googleapis.com/css?family=Merriweather");
  }

  @font-face {
    font-family: 'Merriweather', 'serif';
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.googleapis.com/css?family=Merriweather:700");
  }

  @font-face {
    font-family: 'Merriweather', 'serif';
    font-style: normal;
    font-weight: 900;
    src: url("https://fonts.googleapis.com/css?family=Merriweather:900");
  }

  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.googleapis.com/css?family=Crimson+Text");
  }

  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Crimson+Text");
  }

  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.googleapis.com/css?family=Crimson+Text");
  }
